
*{
    font-family: "EB Garamond", serif;
    box-sizing: border-box;
}

body{
    background-color: #D2C9C6;
}
h3{
    margin-bottom: 50px !important;
}
.nav-item{
    font-size: 18px;
}
nav-item:hover{
    color: #d09d08;
}
.bi{
    color: #d09d08;
    font-size: 24px;
}
.banner {
    background-image: url("../img/banner.jpg");
    height: 500px;
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
    filter: grayscale(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:50px;
    color:#D2C9C6;
}
.img-fluid{
    margin-bottom: 20px;
}
.logonav{
    width:50px !important;
}
.imgmi{
    width: 250px;
}
#servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.articulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:24px;
}
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.copy{
    background-color:#6a6c78;
    color:#D2C9C6;
    padding: 24px 24px;
    text-align: center;
    margin-top: 50px;
}